
.cssModuleTest {
  transform: translateX(100px);

  &:after {
    content: 'sass like sintax test';
  }
}

.imageTest {
  background: url(../../assets/images/webpack.png);
  width: 400px;
  height: 400px;
  display: block;
}